
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#app {
	height: 100vh;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.background-video {
	position: fixed;
	z-index: -99;
	width: 100%;
	height: 100vh;
	background-size:cover;
}

.header-title {
	font-family:'Henny Penny', cursive;
	font-size: 7em;
	color: white;
	text-align: center;
	padding-bottom: 25px;
	text-shadow: 10px 10px 5px black;
}


input {
	height: 55px;
	
}

input[type='text']{
	font-size: 2em;
}

button {
	height: 55px;
}

.poster {
	position: fixed;
	height: 70%;
}

.span-img {
	padding-left: 6rem;
	width: 100%; 
    height: 50%; 
    background-position:35% 0%;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(60%, transparent) , to(rgba(250, 250, 250, 0.3)));

}


.poster-img {
	width: 100%;
}

.title{
	padding-right:10em; 
	color: white;
	font-family: 'Architects Daughter', cursive;
}

.boarder {
	height: 500px;
	
}

.musicList {
	width:400px;

}

.singleSong {
	opacity: 1;
	background-color: #000000;
	border-radius: 10px;
}

.ScrollStyle {
    max-height: 500px;
    overflow-y: scroll;
    background-image:url(https://wallpaperscraft.com/image/line_slanting_dark_background_surface_texture_50392_3840x2160.jpg);
    opacity: .85;
    border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;


}


span {
	color: white;
	font-size: 0.8em;
}
audio {
	margin-left: 8px;
  background-color: black;
  -webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
transition:all 0.5s linear;
-moz-box-shadow: 2px 2px 4px 0px #006773;
-webkit-box-shadow:  2px 2px 4px 0px #006773;
box-shadow: 2px 2px 4px 0px #006773;
-moz-border-radius:7px 7px 7px 7px ;
-webkit-border-radius:7px 7px 7px 7px ;
border-radius:7px 7px 7px 7px ;


}


li:hover, li:focus, li:active
{

-webkit-box-shadow: 15px 15px 20px black;
-moz-box-shadow: 15px 15px 20px black;
box-shadow: 15px 15px 20px black;
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
transform: scale(1.05);
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
	.poster {
		position: fixed;
		height: 100%;
	}

	.span-img {
		padding-left: 43rem;
		width: 80%; 
	    height: 30%; 
	    background-position:35% 0%;
	  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(80%, transparent) , to(rgba(250, 250, 250, 0.3)));

	}
	.title{
	padding-right:7em; 

	}

}

/*------------------ MEDIA QUERIES ------------------*/

@media only screen and (max-width: 600px) {
	.header-title {
		font-size: 3.5em;
	}

	.form {
		width: 400px;

	}

	input[type='text']{
		font-size: 1em;
	}
}

@media screen and (max-width: 601px) and (max-width: 786px) {
	.poster {
		position: fixed;
		height: 50%;
	}

	.span-img {
		padding-left: 5rem;
	    width: 200px;
	    height: 40%; 
	    background-position:35% 0%;
	  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(60%, transparent) , to(rgba(250, 250, 250, 0.3)));

	}
}


