/*
* {
	border: 1px solid red;
}
*/
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#app {
	/*added margin to add spacing for next page (below) content*/
	/*added margin to add spacing for next page (below) content*/
	// background-image: url(https://media.giphy.com/media/12j6TXGnU1PQkw/giphy.gif);
	/*height 100vh (viewport height) is similar to setting height 100% ,but is a better way to set for background 
	because if you cut the viewport it will still act as a full cover and also enables the body to extend wrap around all content instead of just a portion */
	height: 100vh;
	background-size: cover;
	/*added margin to add spacing for next page (below) content*/
/*	margin-bottom: 50px;*/
	// background-color: yellow;
	display: flex;
	flex-direction: column;
	/* vertical center*/
	justify-content: center;
	/* horizontal center*/
	align-items: center;
/*	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);*/
}

.background-video {
	position: fixed;
	z-index: -99;
	width: 100%;
	height: 100vh;
	background-size:cover;
}


input {
	height: 55px;
	
}

input[type='text']{
	font-size: 2em;
}

button {
	height: 55px;
}

.poster {
	position: fixed;
	height: 70%;
	// overflow: hidden;

	
}

.span-img {
	padding-left: 6rem;
	width: 100%; 
    height: 50%; 
    background-position:35% 0%;

}


.poster-img {
	width: 100%;
	// clip: rect(30px, auto, auto, 10px);
	// top: -20px;
	// left: 10px;
	// position: relative;
	// -webkit-background-size:cover;
 //  	-moz-background-size:cover;
 //  	-o-background-size:cover;
}

.title{
	padding-right:10em; 
	color: white;
	text-decoration: underline;
}

.boarder {
/*	background-color: grey;
*/	height: 500px;
	
}

.musicList {
/*	background-color:grey;*/
	width:400px;

}


.singleSong {
	opacity: 1;
	background-color: #000000;
	border-radius: 10px;
}

.ScrollStyle {
    max-height: 500px;
    overflow-y: scroll;
    background-image:url(https://wallpaperscraft.com/image/line_slanting_dark_background_surface_texture_50392_3840x2160.jpg);
    opacity: .75;
    border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;


}


span {
	color: white;
	font-size: 0.8em;
}
audio {
	margin-left: 8px;
  background-color: black;
  -webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
transition:all 0.5s linear;
-moz-box-shadow: 2px 2px 4px 0px #006773;
-webkit-box-shadow:  2px 2px 4px 0px #006773;
box-shadow: 2px 2px 4px 0px #006773;
-moz-border-radius:7px 7px 7px 7px ;
-webkit-border-radius:7px 7px 7px 7px ;
border-radius:7px 7px 7px 7px ;


}


li:hover, li:focus, li:active
{

-webkit-box-shadow: 15px 15px 20px black;
-moz-box-shadow: 15px 15px 20px black;
box-shadow: 15px 15px 20px black;
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
transform: scale(1.05);
}
